<h1>CodeMobiles</h1>
<div>{{title}}</div>
<div>{{version}}</div>
<div>{{isProduction}}</div>
<!-- แปลงเป็น json  | -->
<div>{{account | json}}</div>
<div>{{getResult()}}</div>
<div>Time1: {{time1}}</div>
<div>LoginStatus : {{shared.getState()}}</div>
<hr>
<button (click)="onClick()">Click</button>
<button (click)="onClickViewChild()">Click</button>

<!-- ส่งตัวแปรผ่านอินพุตที่าชื่อว่า count ไปยัง com1 -->
<app-com1 #com1 (change)="onChange1($event)" [count]="version"></app-com1>
<!-- ตัว # เป็นการตั้งชื่ออะไรบ้างอย่างให้กับ com1 -->
<app-com2 (reset2)="onResetVersion()" [count2]="version"></app-com2>